<div class="content" role="main">
  <h2>Events received {{ events.length }}</h2>

  <button (click)="open()">Send Mail</button>

  <table border="1">
    <tr>
      <th>Id</th>
      <th>Delivered</th>
      <th>Viewed</th>
    </tr>
    <tr class="card" *ngFor="let event of eventss">
      <td>{{ event.id }}</td>
      <td><input type="checkbox" [checked]=event.delivered></td>
      <td><input type="checkbox" [checked]=event.viewed></td>
    </tr>
  </table>

  <div class="card" *ngFor="let event of events">
    <span>{{ event }}</span>
  </div>

  <span>{{ baseurl }}</span>

</div>
